.cabecalho {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background: goldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.t {
    color: midnightblue;
    text-align: center;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu_item {
    font-family: 'Sarala', sans-serif;
    color: midnightblue;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px
}

@media only screen and (max-width: 800px) {

    .t {
        font-size: 15px;
        text-align: center;
    }

    .menu-item {
        font-size: 15px;
    }

    .menu {
        gap: 10px;
    }
}